br
.question-control
  .row
    .col-auto.btn-group
      = link_to 'Edit question',
                 '#',
                 class: 'edit-question-link btn btn-outline-primary'

      = link_to 'Delete question',
                 question_path(question),
                 method: :delete,
                 data: { confirm: "Are you sure?" },
                 class: 'edit-question-link btn btn-outline-primary'
      = link_to 'Select best answer',
                 '#',
                 class: 'edit-best-answer-link btn btn-outline-primary'
