---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists/f7059ba947b5d0138f302f8e43694348
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1575302783'
      Etag:
      - W/"4670dfefc242c237014eac77a60506e4"
      Last-Modified:
      - Thu, 28 Nov 2019 15:04:17 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/gists/f7059ba947b5d0138f302f8e43694348","forks_url":"https://api.github.com/gists/f7059ba947b5d0138f302f8e43694348/forks","commits_url":"https://api.github.com/gists/f7059ba947b5d0138f302f8e43694348/commits","id":"f7059ba947b5d0138f302f8e43694348","node_id":"MDQ6R2lzdGY3MDU5YmE5NDdiNWQwMTM4ZjMwMmY4ZTQzNjk0MzQ4","git_pull_url":"https://gist.github.com/f7059ba947b5d0138f302f8e43694348.git","git_push_url":"https://gist.github.com/f7059ba947b5d0138f302f8e43694348.git","html_url":"https://gist.github.com/f7059ba947b5d0138f302f8e43694348","files":{"TestGist.md":{"filename":"TestGist.md","type":"text/markdown","language":"Markdown","raw_url":"https://gist.githubusercontent.com/FoRuby/f7059ba947b5d0138f302f8e43694348/raw/612422dda794cf0f1f84d65d280cb7ebaf8b03b7/TestGist.md","size":9,"truncated":false,"content":"GistTitle"}},"public":true,"created_at":"2019-11-28T14:47:24Z","updated_at":"2019-11-28T15:04:17Z","description":"TestGist","comments":0,"user":null,"comments_url":"https://api.github.com/gists/f7059ba947b5d0138f302f8e43694348/comments","owner":{"login":"FoRuby","id":47187414,"node_id":"MDQ6VXNlcjQ3MTg3NDE0","avatar_url":"https://avatars1.githubusercontent.com/u/47187414?v=4","gravatar_id":"","url":"https://api.github.com/users/FoRuby","html_url":"https://github.com/FoRuby","followers_url":"https://api.github.com/users/FoRuby/followers","following_url":"https://api.github.com/users/FoRuby/following{/other_user}","gists_url":"https://api.github.com/users/FoRuby/gists{/gist_id}","starred_url":"https://api.github.com/users/FoRuby/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FoRuby/subscriptions","organizations_url":"https://api.github.com/users/FoRuby/orgs","repos_url":"https://api.github.com/users/FoRuby/repos","events_url":"https://api.github.com/users/FoRuby/events{/privacy}","received_events_url":"https://api.github.com/users/FoRuby/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"FoRuby","id":47187414,"node_id":"MDQ6VXNlcjQ3MTg3NDE0","avatar_url":"https://avatars1.githubusercontent.com/u/47187414?v=4","gravatar_id":"","url":"https://api.github.com/users/FoRuby","html_url":"https://github.com/FoRuby","followers_url":"https://api.github.com/users/FoRuby/followers","following_url":"https://api.github.com/users/FoRuby/following{/other_user}","gists_url":"https://api.github.com/users/FoRuby/gists{/gist_id}","starred_url":"https://api.github.com/users/FoRuby/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FoRuby/subscriptions","organizations_url":"https://api.github.com/users/FoRuby/orgs","repos_url":"https://api.github.com/users/FoRuby/repos","events_url":"https://api.github.com/users/FoRuby/events{/privacy}","received_events_url":"https://api.github.com/users/FoRuby/received_events","type":"User","site_admin":false},"version":"775b3aa9fd5654b578901f0cc91eeeb95f4a7970","committed_at":"2019-11-28T15:04:17Z","change_status":{"total":5,"additions":1,"deletions":4},"url":"https://api.github.com/gists/f7059ba947b5d0138f302f8e43694348/775b3aa9fd5654b578901f0cc91eeeb95f4a7970"},{"user":{"login":"FoRuby","id":47187414,"node_id":"MDQ6VXNlcjQ3MTg3NDE0","avatar_url":"https://avatars1.githubusercontent.com/u/47187414?v=4","gravatar_id":"","url":"https://api.github.com/users/FoRuby","html_url":"https://github.com/FoRuby","followers_url":"https://api.github.com/users/FoRuby/followers","following_url":"https://api.github.com/users/FoRuby/following{/other_user}","gists_url":"https://api.github.com/users/FoRuby/gists{/gist_id}","starred_url":"https://api.github.com/users/FoRuby/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/FoRuby/subscriptions","organizations_url":"https://api.github.com/users/FoRuby/orgs","repos_url":"https://api.github.com/users/FoRuby/repos","events_url":"https://api.github.com/users/FoRuby/events{/privacy}","received_events_url":"https://api.github.com/users/FoRuby/received_events","type":"User","site_admin":false},"version":"32beee2e48b29d18d19e75051b68c70d41c9db96","committed_at":"2019-11-28T14:47:23Z","change_status":{"total":4,"additions":4,"deletions":0},"url":"https://api.github.com/gists/f7059ba947b5d0138f302f8e43694348/32beee2e48b29d18d19e75051b68c70d41c9db96"}],"truncated":false}'
  recorded_at: Mon, 02 Dec 2019 15:06:52 GMT
recorded_with: VCR 5.0.0
